<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Rock Paper Scissors Artificial Intelligence</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.js"></script>
	<script src="js/rockPaperScissorsApp.js"></script>

</head>
<body ng-app="RockPaperScissorsApp">
	
	<nav class="navbar navbar-default navbar-static-top">
	  <div class="container-fluid">

	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-id">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="index.html">rps-ai</a>
	    </div>
	  </div>
	</nav>

	<div class="container" ng-controller="RockPaperScissorsController">
		<div class="row">
			<div class="col-sm-6">
				<h2 class="text-center">Make your move</h2>
				<br>
				<div class="btn-group btn-group-justified">
					<a ng-click="rock()" class="btn btn-default"><i class="fa fa-lg fa-hand-rock-o"></i> Rock</a>
					<a ng-click="paper()" class="btn btn-default"><i class="fa fa-lg fa-hand-paper-o"></i> Paper</a>
					<a ng-click="scissors()" class="btn btn-default"><i class="fa fa-lg fa-hand-scissors-o"></i> Scissors</a>
				</div>
				<h3>Player: {{playerMove}}</h3>
				<h3>Skynet Jr: {{aiMove}}</h3>
				<h3>Winner: {{result}}</h3>
				<h3>Score: {{score[0]}}-{{score[1]}}-{{score[2]}}</h3>
			</div>
			<div class="col-sm-6"></div>
		</div>
	</div>

</body>
</html>