<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Rock Paper Scissors Artificial Intelligence</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/font-awesome.css">
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/angular.js"></script>
	<script src="js/rockPaperScissorsApp.js"></script>

</head>
<body ng-app="RockPaperScissorsApp">
	
	<nav class="navbar navbar-default navbar-static-top">
	  <div class="container-fluid">

	    <div class="navbar-header">
	      <a class="navbar-brand" href="index.html">rps-ai</a>
	    </div>
	  </div>
	</nav>

	<div class="container" ng-controller="RockPaperScissorsController">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="text-center">Make your move</h2>
				<br>
				<div class="btn-group btn-group-justified">
					<a ng-click="rock()" class="btn btn-default"><i class="fa fa-lg fa-hand-rock-o"></i> Rock</a>
					<a ng-click="paper()" class="btn btn-default"><i class="fa fa-lg fa-hand-paper-o"></i> Paper</a>
					<a ng-click="scissors()" class="btn btn-default"><i class="fa fa-lg fa-hand-scissors-o"></i> Scissors</a>
				</div>
				<div class="text-center">
					<h3>Player - <i ng-class="playerIcon" class="fa fa-lg"></i> vs. <i ng-class="aiIcon" class="fa fa-lg"></i> - AI</h3>
					<h3>Winner: {{result}}</h3>
					<h3>Score: {{score[0]}}-{{score[1]}}-{{score[2]}}</h3>
					<h3>Total Games: {{totalGames}}</h3>
				</div>

				<div class="progress">
					<div class="progress-bar progress-bar-success" data-toggle="tooltip" data-placement="bottom" data-original-title="Player Wins" ng-style="{'width': scorePercent[0]}"></div>
					<div class="progress-bar progress-bar-warning" data-toggle="tooltip" data-placement="bottom" data-original-title="Ties" ng-style="{'width': scorePercent[1]}"></div>
					<div class="progress-bar progress-bar-danger" data-toggle="tooltip" data-placement="bottom" data-original-title="AI Wins" ng-style="{'width': scorePercent[2]}"></div>
				</div>
			</div>
			
		</div>
	</div>

</body>
</html>